@import url('OpenSans-Light.ttf');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070b11;
    font-family: 'Open sans', sans-serif;
    color: #e9e8e8;
    position: relative;
    overflow: hidden;
}

.case {
    width: 450px;
    height: 600px;
    margin: 8em auto;
    display: block;
    border-radius: 10px;
    background-color: #17212b;
    box-shadow: 0px 0em 2em #17212b;
}

.upbar {
    font-size: 15px;
    padding: 24px;
    font-weight: 100;
    cursor: default;
}

.profile {
    display: flex;
    position: absolute;
    width: 100%;
}

.profile img {
    height: 80px;
    width: 80px;
    margin: 0 24px;
    border-radius: 100%;
}

.name {
    margin-top: 22px;
    font-weight: 100;
    font-size: 18px;
    display: inline;
    position: static;
}

.online {
    color: #708499;
    position: absolute;
    margin: 3.65em 9.5em;
    width: 100%;
    cursor: default;
}

.is {
    color: #708499;
    font-size: 13px;
    display: flex;
    margin-left: 3.5em;
    margin-top: 3px;
    margin-bottom: 15px;
    padding-top: 3.5px;
    cursor: default;
}

.username {
    color: #6ab3f3;
    text-decoration: none;
    font-size: 13px;
    margin-left: 3.5em;
}

a:hover {
    text-decoration: underline;
}

.infobar img{ 
    position: absolute;
}

.infobar {
    margin-top: 6.6em;
    padding-left: 30px;
    height: 11.55em;
    width: 100%;
}

.button {
    padding: 10px 0px;
}

.button:hover {
    position: relative;
    background: #232e3c;
    cursor: pointer;
}

.sendmsg {
    color: #5db2f2;
    font-weight: 600;
    margin-left: 4.7em;
    cursor: pointer;
    letter-spacing: .9px;
    text-decoration: none;
    display: block;
}

.sendmsg:hover {
    text-decoration: none;
    background-color: #232e3c;
}

.line {
    letter-spacing: -1.03px; 
    color: #101921;
    font-size: 13px;
    display: flex;
    padding-top: 0.8em;
    margin-left: 3.5em;
    cursor: default;
}

::-moz-selection{ background: #2e70a5; color:#fff;}
::selection { background:#2e70a5; color:#fff; }